
@{
    ViewData["Title"] = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-center my-4">Futbol Maçları</h1>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4" id="Cards">
            <div class="card bg-info border-0">
                <div class="card-body">
                    <h5 class="card-title">Takım A vs Takım B</h5>
                    <p class="card-text">Skor: 3 - 1</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/matchCards.js"></script>
}