
@{
    ViewData["Title"] = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container m-4">

    <div class="mb-4" id="Buttons">
        
    </div>

    <div class="row" id="Cards">
        Maçlar Getiriliyor...
    </div>
</div>



@section styles {
    <link href="~/css/myTableStyles.css" rel="stylesheet">
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/js/Scripts/date.js"></script>
    <script src="~/js/matchCards.js"></script>
}