@using Entities.Concrete.NewVersion
@model List<ManagerClub>
@{
    ViewData["Title"] = "ProposeMatch";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar pt-5">
            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                <a href="../dist/index.html" class="text-gray-500">
                                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Menajer</li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Maç</li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Maç Teklifi</li>

                        </ul>
                        <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">Maç Teklif Et</h1>
                    </div>

                </div>
            </div>
        </div>
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-fluid">

                <!--begin::Basic info-->
                <div class="card mb-5 mb-xl-10">
                    <!--begin::Card header-->
                    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                        <!--begin::Card title-->
                        <div class="card-title m-0">
                            <h3 class="fw-bold m-0">Maç Teklifi</h3>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--begin::Card header-->
                    <!--begin::Content-->
                    <div id="kt_account_settings_profile_details" class="collapse show">
                        <!--begin::Form-->
                        <form id="kt_account_profile_details_form" class="form">
                            <!--begin::Card body-->
                            <div class="card-body border-top p-9">
                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                        <span class="required">Rakip Takım</span>
                                        <span class="ms-1" data-bs-toggle="tooltip" title="Bir Kulüp Seç">
                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                        </span>
                                        
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <select name="awayteam" id="away_team_id" aria-label="Rakip Seç" data-control="select2" data-placeholder="Bir Rakip Seç..." class="form-select form-select-solid form-select-lg fw-semibold">
                                            <option value="">Bir Rakip Seç...</option>
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                        <span id="away_team_danger" class="text-danger"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->


                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6">Karşılaşma Mesajı</label>
                                    <div class="col-lg-8 fv-row">
                                        <textarea name="content" id="match_message" class="form-control form-control-lg form-control-solid" placeholder="Karşılaşma mesajınızı buraya yazın..."></textarea>
                                        <span id="match_message_danger" class="text-danger"></span>
                                    </div>
                                </div>


                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                        <span class="required">Maçın Ülkesi</span>
                                        <span class="ms-1" data-bs-toggle="tooltip" title="Maç İçin Bir Ülke">
                                            <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                        </span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <select name="country" id="select_country_id" aria-label="Ülke Seç" data-control="select2" data-placeholder="Bir Ülke Seç..." class="form-select form-select-solid form-select-lg fw-semibold">
                                            <option value="">Ülke Seç...</option>
                                            @await Component.InvokeAsync("CountrySelect")

                                        </select>
                                        <span id="country_danger" class="text-danger"></span>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Card body-->
                            <!--begin::Actions-->
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <button type="reset" class="btn btn-light btn-active-light-primary me-2">Temizle</button>
                                <button type="button" class="btn btn-primary" id="add_match_button">Gönder</button>
                            </div>
                            <!--end::Actions-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Basic info-->

            </div>
        </div>

    </div>

</div>

@section styles {
 
     @* <script>
         const theme = document.documentElement.getAttribute("data-bs-theme"); // Koyu ya da açık temayı kontrol et
         if (theme == 'dark') {
             const link = document.createElement('link');
             link.rel = 'stylesheet';
             link.href = '/css/ckeditor/dark-theme.css'; // CSS dosyasının yolu
             document.head.appendChild(link);
         }
     </script>


     <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script> *@
}

@section scripts {


    <script>
        

        

            
    </script>
    <script src="~/js/Manager/Match/AddMatch.js"></script>

}