
.dataTables-example {
    background-color: #2c2c2c;
    color: #ffffff;
}


.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
    background-color: #3c3c3c;
    color: #ffffff;
    border: 1px solid black;
}

.dataTables_wrapper .pagination .page-item.active .page-link,
.dataTables_wrapper .pagination .page-link {
    background-color: #444;
    color: #ffffff;
}

.dataTables_wrapper .pagination .page-item.active .page-link {
    background-color: #666;
}
table.dataTables-example tbody tr {
    cursor: pointer !important;
}

table.dataTable tbody tr {
    cursor: pointer !important;
    background-color: #2c2c2c;
    color: #ffffff;
}

    table.dataTable tbody tr:nth-child(even) {
        background-color: #3c3c3c;
    }

.buttons-html5 {
    background-color: #2C2C2C;
    margin-right: 1rem;
    width: 100px;
    border-radius: 5px;
}

.buttons-print {
    background-color: #2C2C2C;
    width: 100px;
    border-radius: 5px;
}

.swal2-html-container {
    max-width: 1000px !important;
    width: 100% !important;
}

.bradius {
    border-radius: 5px;
}
/*.swal2-popup {
    max-width: 1000px !important;
    width: 100% !important;
}

.swal2-modal {
    max-width: 1000px !important;
    width: 100% !important;
}


swal2-show {
    max-width: 1000px !important;
    width: 100% !important;
}*/
.swal2-icon-content {
    margin-top: 5px !important;
}
.swal2-modal .swal2-icon, .swal2-modal .swal2-success-ring {
    margin-top: 0;
    margin-bottom: 0;
}
.cursor-pointer {
    cursor: pointer;
}
