@using Entities.Concrete.NewVersion
@model List<ManagerClub>

@{
    ViewData["Title"] = "Rivals";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
    
}

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar pt-5">
            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
                <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                    <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                        <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                <a href="/Manager/Home/Index" class="text-gray-500">
                                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Menajer</li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Rakipler</li>
                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Rakiplerim</li>

                        </ul>
                        <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">Rakipler</h1>
                    </div>

                </div>
            </div>
        </div>
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-fluid">
                <div class="card card-flush">
                    <div class="card-body pt-0">
                        <div class="col-12 d-flex row">

                            @foreach (var item in Model)
                            {
                                <div class="card border-hover-primary">
                                    <a href="/Manager/Manager/Rival/@item.Id" class="d-flex justify-content-between align-items-center p-4 card-body  mt-1 mb-1">

                                        <img src="@item.Avatar" class="rounded-circle me-2" alt="Home Club Avatar" style="width: 50px; height: 50px;" />
                                        <span>@item.Name</span>
                                        <span>
                                            @if (@item.Formation != null)
                                            {
                                                <span>@item.Formation.FotmationType</span>
                                            }
                                            else
                                            {
                                                <span>Formasyon Yok</span>
                                            }
                                        </span>
                                  


                                    </a>
                                </div>
                                <hr class="mx-5 my-1" />
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

